html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

* {-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

body {
    font-family: 'lato', sans-serif;
    font-size: 16px;
    font-weight: 300;
}

/* grid rules */
.row {clear: both;}

.limited {max-width: 1024px; margin: auto;} /*Limits content width.*/

.column {
    float: left;
    padding: 0 2vw;
    margin: 0 0 .75rem 0;
}
.column img {
    height: 65px;
    width: 65px;
}

.small-12 {
    width: 100%;
}

footer {
    background-color: #9b87b8;
    font-size: 1.2rem;
}

footer h2 {
    font-style: italic;
    text-transform: uppercase;
    margin: 1rem 0 .3rem 0;
}

/* It inserts content after the floated items. */
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}